.contact.list-group {
    height: 80vh;
    overflow: auto;
}

.contact.list-group-item .lead {
    margin-bottom: 0;
}

.list-group-item * {
    font-size: 12px;
}
.vtd-sm{width: 10px;}
.table tr:hover{
    background-color: #8080801f;
}

.nav .show-signout {
    display: none;
}

.list-group-item a {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
}

.list-calendar {
    padding-left: 20px;
}
.loading-photo{
    position: absolute;
    background: #7975755c;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    color: white;
}
.img-thumbnail.active{
    border: 1px solid;
}
.none {
    display: none;
}
hr{margin: 0;margin-bottom: 10px;}


.right {
    float: right;
}
.view-center-mobile{display: none;}
.gv-todo{display: flex;align-items: flex-start;}
.clearbtn,
#clearButton{
    display: none;
    position: absolute;
    right: 0;
    margin-top: -30px;
    margin-right: 27px;
}
#clearButton-todonew-search{
    display: none;
    position: relative;
    right: 27px;
    margin-top: -29px;
    margin-right: 17px;
}
.list-todo-new-tbody .content span:hover{
    cursor: pointer;
}
.list-todo-new-tbody .content span{
    color: green;
}
.list-calendar pre {
    word-break: break-word;
    display: contents;
    font-family: initial;
    white-space: pre-wrap;
}

.forms-in button {
    /* margin-top: 5px; */
}

.btn-up-down {
    margin-top: -2px !important;
    float: right;
    padding: 1px 4px 1px 4px;
    margin-left: 5px;
    font-size: 13px;
}

.list-maxim-completed .list-group,.list-maxim-new .list-group,
.list-todo-completed .list-group
/* .list-todo-new .list-group */
 {
    /* max-height: 300px; */
    overflow: auto;
}

.list-todo-completed .list-group .enent {
    padding: 0;
}

.form-event .text {
    padding-left: 31px;
}
input[type="checkbox"]:hover{cursor:pointer}

.list-image div img {
    max-height: 90px;
}

.video .list-image {
    max-height: calc(100vh - 400px);
    overflow: auto;
}

.list-image div {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100px;
    overflow: hidden;
}

.img-thumbnail.hiden {
    width: 100px;
    height: 100px;
    background: #e8e0e0;
}

.at-task label input {
    margin-right: 7px;
}

.at-task label {
    display: contents;
}
.at-task b,.at-task i{
	font-size:20px;
}

.photo .list-image {
    max-height: 500px;
    overflow: auto;
}
.photo .status{display:none;}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
sup{text-transform: capitalize;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: 0px auto -webkit-focus-ring-color;}
.s-task.true {
    color: green;
}

.list-five-task {
    overflow: auto;
    height: 500px;
}
.list-five-task li{
    white-space: pre-line;
    word-wrap: break-word;
}

.todo .list-todo-new .at-task label {
	background: yellow;
}
.todo .asc{background: #ce4300; color: white;}
.list-todo-new .list-group{counter-reset: div-counter;}

.list-todo-new .list-group >div{
	counter-increment: div-counter;
	/* margin-bottom: 10px; */
	/* padding: 10px; */
	/* border: 1px solid #ccc; */
	position: relative;
}
.list-todo-new .list-group >div::before{
	 content: counter(div-counter) "."; /* Use the counter value */
	position: absolute;
	/* left: -30px; */
	font-weight: bold;
}

.todo .list-todo-completed .at-task label {
	background: #e0c9c9;
}
.todo .list-todo-new .dayli label{background: #e1e10a;}
.todo .at-task label {
    word-break: break-word;
	margin-left: 10px;
    display: inline;
}
.at-task sup {
    top: 0.5em;
}
.table>thead>tr>td{
    border: 0;
}
.table .tr-search{
    background: #f0f0f0;
}
.lastEdit{
    background: #c3e9c3;
}
.for-sort:hover,
.at-task .view-num:hover{
    cursor: pointer;
}
.at-task .view-num{
    border: 1px solid;
    border-radius: 10px;
    padding: 4px 8px;
}
.at-task .view-num[db-click="true"]{
    background-color: yellow!important;
}
.at-task[db-click="true"]{
    /* text-decoration: underline; */
    /* font-style: italic; */
    background-color: burlywood!important;
}
.dlt-checklist-post{display: none;}
.todo .list-todo-new label[db-click="1"],
.todo .list-todo-new label[db-click="true"]{
	background: green; color: white;
}
.list-todo-completed .at-task{
	border-bottom: 1px solid #80808024;
}
.footer {
    font-size: 11px;
}
.editnow{
	background: gainsboro;
}
.footer span {
    padding-top: 5px;
    display: inline-block;
}

.sceditor-group .sceditor-button-print,
.sceditor-group .sceditor-button-email,
.sceditor-group .sceditor-button-cut,
.sceditor-group .sceditor-button-copy,
.sceditor-group .sceditor-button-pastetext,
.sceditor-group .sceditor-button-subscript,
.sceditor-group .sceditor-button-superscript,
.sceditor-group .sceditor-button-ltr,
.sceditor-group .sceditor-button-rtl {
    display: none;
}


#tx .list-div,
#scrum .list-div{
    border: 1px solid;
}
#tx .drag-list>li,
#scrum .drag-list>li{
    list-style: nomal;
    font-size: 14px;
    margin-left: 22px;
}
#tx .drag-list .drag-area,
#scrum .drag-list .drag-area{
    height: 32px;
}
#tx .drag-list .title,
#scrum .drag-list .title{
    font-size: 14px;
}
#tx .list-action button:not(.clearbtn),
#scrum .list-action button{
    margin-top: 0px;
}

#tx .list-action .event,#tx .list-action .inputtype,
#scrum .list-action .event,#scrum .list-action .inputtype
{
    padding: 5px;
}

#tx .list-drap-drop ul.drag-list,
#scrum .list-drap-drop ul.drag-list{
    overflow: visible;
    height: auto;
    padding: 5px;
    padding-bottom: 10px;
    min-height: 200px;
}
.sticky {
    position: fixed;
    top: 51px;
    width: 1200px;
    background: red;
    z-index: 123;
  }
  .sticky + .list-div {
    padding-top: 102px;
  }
#tx .list-drap-drop h3,
#scrum .list-drap-drop h3{
    border-bottom: 2px dotted;
    padding: 6px;
    margin: 0;
    background: gray;
    color: white;
}
#tx .list-drap-drop,
#scrum .list-drap-drop{
    /* height: calc(100vh - 110px); */
    
    padding: 0;
}

#scrum .move a{
    color: white;
    font-weight: bold;
    font-style: italic;
}
#scrum .move .back::after{
    content: "|";
    padding-left: 5px;
}
#scrum .move{
    position: absolute;
    right: 0;
    top: 10px;
    padding-right: 20px;
}


#my-detail-view .modal-dialog{
    max-width: 1000px;
    width: 80%;
}
#content-preview *{
    word-break: break-all;
}
#my-view-excel .modal-dialog .modal-content .modal-body iframe{
    height: 96%;
}
#my-view-excel .modal-dialog .modal-content .modal-body{
    height: 84vh;
}
#my-view-excel .modal-dialog .modal-content{
    height: 90vh;
}
#my-view-excel .modal-dialog{
    width: 90%;
}
#modal-Photo .modal-dialog{
    min-width: 100px;
    width: fit-content;
    max-width: 98%;
}
#image_preview_photo_double{
width: auto;
max-width: 100%;
}
.list-drap-drop.drag-list .title{
    font-size: 15px;
}
.list-drap-drop.drag-list h3{
    font-size: 20px;
    margin: 4px 2px 0px 1px;
}
.list-drap-drop.drag-list{
    /* max-height: 40vh;
    height: 40vh;
    overflow: auto; */
}
ul.drag-list{
    overflow: auto;
    max-height: 40vh;
    height: 40vh;
    overflow: auto;
}
.group-5-task >div{
    padding-top: 5px;
}
.group-5-task ol li {
    position: relative;
}


.group-5-task ol li {
    list-style: none;
    padding-bottom: 10px;
}
.group-5-task ol li:nth-child(1) {
    padding-top: 10px;
}
.group-5-task ol li::before {
    position: absolute;
    left: -25px;
    top: 0;
    color:#ff7306; /* Marker color */
    font-size: 24px; /* Marker size */
  }
.group-5-task ol li:nth-child(1)::before {
    content: '\278A';
}
.group-5-task ol li:nth-child(2)::before {
    content: '\278B';
}
.group-5-task ol li:nth-child(3)::before {
    content: '\278C';
}
.group-5-task ol li:nth-child(4)::before {
    content: '\278D';
}
.group-5-task ol li:nth-child(5)::before {
    content: '\278E';
}
.show-cl-detail{padding-top: 15px; font-weight: bold; margin-bottom: 0;}

.button-list-view {
    display: block;
    list-style: none; /* Remove default list styling */
    padding: 0;
}
.button-list-view button{margin-bottom:10px;}

.button-list-view li {
    /* margin: 5px 0; */
	padding-left: 10px; display: inline;
}

.button-list-view .group-header {
	display: block;
    font-weight: bold;
    list-style: none;
}
.button-list-view .active{background: bisque;}

.addVideo::before,
.addValue::before,
#add-five-task-today::before{
    content: '\270D';
    padding-right: 7px;
}
.d-flex{display: flex;}
.p-0{padding:0px;}
.p-1{padding:5px;}
.p-2{padding:10px;}
.p-3{padding:15px;}
.pb-1{
    padding-bottom: 4px;
}
.pl-2{
	padding-left: 10px;
}
.pr-2{
	padding-right: 10px;
}

.pb-3{
    padding-bottom: 15px;
}
.pt-1{padding-top: 4px;}
.pb-1{padding-bottom: 4px;}
.pt-2{padding-top: 8px;}
.pt-3{padding-top: 12px;}
.pt-4{padding-top: 16px;}
.pb-2{padding-bottom: 8px;}
.pl-2{padding-left: 8px;}
.pr-2{padding-right: 8px;}
.mt-1{margin-top: 4px;}
.mb-2{margin-bottom: 8px;}
.d-none{display:none;}


.edit_view,.iconbs{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.save_view:before{
	content: '\002709';
}
.edit_view:before{
	content: '\00270D';
}
.g-title{text-align: center; border-bottom: 1px solid;}
.list-goal-new>div{padding-left:5px;padding-right:5px;border-right: 1px solid;}
.list-goal-new>div:last-child{border-right: 0px solid;}
.list-goal-new .edit_goal{padding:2px;}
.list-goal-new .at-task >div.view-a,.list-goal-new .form-event >div.view-a{padding-left:0px;padding-right:0px;}
.list-goal-new .at-task >div.event, .list-goal-new .form-event >div.event{padding:0px}
.list-goal-new .form-event >div.event{padding-left:6px}
.list-goal-new .form-event >div.event button{padding:0px}
.list-goal-new .view-a{width: calc(100% - 30px);}
.goal-hr{margin-bottom:3px;}
 

.view-habit-detail input[type="checkbox"]{display:none}
.view-habit-detail input[type="checkbox"] + button:before {
  content: "✘";
}
.view-habit-detail input[type="checkbox"]:checked + button:before {
  content: "✘";
}

.event-action-swot{
    position: -webkit-sticky;
    position: sticky;
    top: 11px;
    padding: 41px 13px 14px 17px;
    z-index: 1;
}


#table-todologs thead{
	position: sticky;
    top: 51px;
}
#table-todologs tr th:nth-child(1),
#table-todologs tr td:nth-child(1){
	display:none;
}
#viewLoadMore{display:none;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-5ths {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
table .content{
    word-break: break-word;
}
.panel-default{width: 100%;}
table .theader,table .theader:hover{background: gainsboro;}

.isMobile #searchName{
    width: 100%;
}
.isMobile #clearButton-todonew-search{
    position: absolute;
    right: 94px;
    margin-top: -25px;
    margin-right: 17px;
}
.isMobile #table-todo-new{
    font-size: small;
}
.isMobile .at-task .view-num{
    padding: 1px 4px;
}
.isMobile .table>tbody>tr>td{
    padding: 5px;
    vertical-align: middle;
}
.isMobile #select-todo-timer-search{
    height: 24px;
}
.isMobile #view-total-new-search{
    display: block;
}

#checklist #list-checklist-cat li{
    list-style: ethiopic-halehame-ti-et;
}
#checklist li{
    padding: 5px 7px;
}
#checklist [ishl="true"]{
    background: orange;
}
#checklist .content:hover,
#checklist .flag:hover{
    cursor: pointer;
}
#checklist input[type="checkbox"]{
    margin-left: 3px;
    margin-right: 7px;
}
#checklist .active{
    /* background: orange; */
}
#ckl-post-update{
    display: none;
}
.content.active{
    font-weight: bold;
}

.p-name{
    margin: 0;
}

.projects-list td, .projects-list .row {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0;
  }

.isMobile .no-mb{
    display: none;
}
@media (min-width: 1024px) {
    .theader{
        position: sticky;
        top: 51px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .col-5ths {
    width: 33.33%; /* Show 3 columns */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .col-5ths {
    width: 50%; /* Show 2 columns */
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .col-5ths {
    width: 100%; /* Show 1 column */
  }
}


/* nav collapse at size md */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        overflow: auto;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
    .view-center-mobile{
        display: block;
        color: white;
        float: right;
        padding-top: 15px;
        padding-right: 10px;
    }
}
/* end 1200 */

@media only screen and (max-width: 600px) {
    .panel-default{overflow: auto;}
    .sceditor-toolbar div.sceditor-group {
        display: contents;
    }
    .forms-in .split button {
        margin-top: 5px;
        width: 19px;
        overflow: hidden;
        padding: 0;
    }
    .forms-in .note .list{
        padding: 0;
        padding-left: 2px;
        margin: 0;
    }
    .forms-in .note .list li {
        padding: 3px;
        list-style: none;
    }
    .forms-out #swot .event-action-swot input{
        margin-top: 10px;
    }
    .forms-out #swot .event-action-swot{
        display: block!important;
    }
}

