.contact.list-group {
    height: 80vh;
    overflow: auto;
}

.contact.list-group-item .lead {
    margin-bottom: 0;
}

.list-group-item * {
    font-size: 12px;
}

.nav .show-signout {
    display: none;
}

.list-group-item a {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
}

.list-calendar {
    margin-left: 30px;
}

.none {
    display: none;
}

.right {
    float: right;
}

.list-calendar pre {
    word-break: break-word;
    display: contents;
    font-family: initial;
    white-space: pre-wrap;
}

.forms-in button {
    margin-top: 5px;
}

.list-todo-completed .list-group {
    max-height: 300px;
    overflow: auto;
}

.list-todo-completed .list-group .enent {
    padding: 0;
}

.form-event .text {
    padding-left: 31px;
}

.list-image div {
    padding-top: 4px;
    padding-bottom: 4px;
}

.img-thumbnail.hiden {
    width: 100px;
    height: 100px;
    background: #e8e0e0;
}

.at-task label input {
    margin-right: 7px;
}

.at-task label {
    display: contents;
}

.photo .list-image {
    max-height: 500px;
    overflow: auto;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.s-task.true {
    color: green;
}

.list-five-task {
    overflow: auto;
    height: 500px;
}

.at-task label {
    word-break: break-all;
}