.list-group {
    height: 80vh;
    overflow: auto;
}

.list-group-item .lead {
    margin-bottom: 0;
}

.list-group-item * {
    font-size: 12px;
}

.nav .show-signout {
    display: none;
}

.list-group-item a {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
}