.note .split {
    display: flex;
    flex-direction: row;
    border: 1px solid #eeeeee;
    height: calc(100vh - 100px);
}

.note .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.note .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.note #split-0 .content {
    background-color: #edf1ed21;
}

.note #split-1 .content {
    background-color: #c4d5c4;
}

.note #split-2 .content {
    /* background-color: #9fd19f; */
}

.note .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    background: #d5d1d1;
    height: 30px;
    padding-top: 6px;
    padding-left: 5px;
}

.note .header {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    background: yellow;
    height: 40px;
    padding-top: 4px;
    padding-left: 4px;
}

.note .content {
    display: block;
    top: 40px;
    position: relative;
    /* background: green; */
    height: calc(100vh - 160px);
    overflow: auto;
}

.note h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.note .split>div {
    position: relative;
}

.note .list {
    padding: 0;
    padding-left: 27px;
    margin: 0;
}

.note .list li {
    padding: 10px;
}

.note .list li:nth-child(even) {
    background-color: #f2f2f2;
}

.note .list li:hover {
    background-color: #bb7878;
    cursor: pointer;
}

.note .list li.active {
    background-color: #bb7878;
}

.note .list li.booked {
    background-color: #ffff00;
}

.note .list li.booked.active {
    background-color: #bbbb78;
}

.note .ql-container {
    height: calc(100% - 76px)!important;
}

.full-loading {
    display: none;
    background: #e7dcdc8c;
    height: calc(100% - 69px)!important;
    top: 39px;
    position: absolute;
    width: 100%;
    z-index: 12;
    display: block;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.footer-sp-right {
    float: right;
    padding-right: 7px;
}

.content .kothing-editor .ke-wrapper .ke-wrapper-wysiwyg {
    min-height: 200px;
}

.content .kothing-editor .ke-resizing-bar .ke-powered-by {
    display: none;
}

.content {
    scrollbar-width: thin;
    scrollbar-color: #ddd #f7f7f7;
}


/* Works on Chrome, Edge, and Safari */

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    background: #f7f7f7;
}

.content::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 20px;
    border: 3px solid #f7f7f7;
}

.note .list li[ishl="true"] {
    background-color: yellow;
}

.note .list li[ishl="true"].active {
    background-color: #df8d28;
}